
  <main>
   
    <section class="productos-header">
      <h1>Nuestra Colección</h1>
      <p>BOLSOS & CARTERAS</p>
    </section>

    <section class="categoria">

      <h2>Selección de Carteras</h2>

      <div class="productos-grid">
        @for (category of (listCategory$|async); track $index) {
           <div class="producto">
          <img [src]="category.image" [alt]="category.name">
          <h3> {{category.name}} </h3>
          <p> {{category.price|currency}} </p>
        </div>
        }
       

        

      </div>

    </section>

    <section class="categoria">

      <h2>Selección de Bolsos</h2>

      <div class="productos-grid">
        @for (product of (listProducts$ | async); track $index) {
          <app-product-card [product]="product" />
        }
      </div>

    </section>

  </main>

  <app-products-modal></app-products-modal>

