<footer class="site-footer">
        <div class="footer-container">
            <!-- Bloque de Marca -->
            <div class="footer-brand-column">
                <img src="assets/images/kalue.png" class="footer-logo">
                <p class="brand-description">Creamos experiencias de lujo excepcionales a través de un diseño atemporal y una artesanía maestra sostenible.</p>
            </div>

            <!-- Bloque de Enlaces -->
            <div class="footer-links-grid">
                <div class="links-column">
                    <h3 class="column-title">Boutique</h3>
                    <ul class="footer-links-list">
                        <li class="footer-link_item"><a href="#">Todas las colecciones</a></li>
                        <li class="footer-link_item"><a href="#">Nuevos Lanzamientos</a></li>
                        <li class="footer-link_item"><a href="#">Exclusivos</a></li>
                    </ul>
                </div>
                <div class="links-column">
                    <h3 class="column-title">Servicios</h3>
                    <ul class="footer-links-list">
                        <li class="footer-link_item"><a href="#">Garantia & Reparaciones</a></li>
                        <li class="footer-link_item"><a href="#">Agendamientos</a></li>
                        <li class="footer-link_item"><a href="#">Perzonalizados</a></li>
                    </ul>
                </div>
                <div class="links-column">
                    <h3 class="column-title">Legal</h3>
                    <ul class="footer-links-list">
                        <li class="footer-link_item"><a href="#">Politicas de privacidad</a></li>
                        <li class="footer-link_item"><a href="#">Terminos y Condiciones</a></li>
                        <li class="footer-link_item"><a href="#">Accesibilidad</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Barra Inferior de Copyright -->
        <div class="footer-bottom">
            <div class="bottom-container">
                <p class="copyright-text">&copy; 2026 Kalué Studio. Todos los derechos reservados. Desarollado por: Sebastian Zarate, Katherin Castillo</p>
            </div>
        </div>
    </footer>