/* You can add global styles to this file, and also import other style files */
:root {
    --font-serif: 'Cormorant Garamond', serif;
    --font-sans: 'Inter', sans-serif;
    
    --color-bg-light: white;
    --color-text-main: black;
    --color-text-muted: #666666;
    --color-text-light: #483c3c;
    --color-border: black;
    --color-bg-inputs: #cbcbcb74;
    
    --transition-smooth: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

small.error {
    color: red;
    font-style: italic;
    margin-bottom: 20px;
}